In [1]:
import pandas as pd

In [10]:
path = "test_gold_data"
results_df_first = pd.read_excel(f"{path}/insert_data_annotator_1.xlsx")
results_df_first

,provider_name,article_id,comment_id,Notes,Barack Obama,Donald Trump,Joe Biden,(democrat | liberal),(republican | conservative),Progressives,...,Supreme court,Free trade | globalization,Traditional family values,Palestine,Mexico / mexicans,EU | Europe | European country,Billionaires,Big pharma,Big tech is too powerful,COMPLETED
0,motherjones,5392511582,3059057400,NaN,NaN,NaN,NaN,NaN,E -,NaN,...,NaN,I -,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1,motherjones,5392511582,3059084937,Here is refering to war (against Libya) not su...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,I -,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2,motherjones,5392511582,3059098451,"This is hard as well. The guy is ""advocating"" ...",NaN,0,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3,motherjones,5392511582,3059108161,this is an answer to a deleted comment. Hard w...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4,motherjones,5392511582,3059121940,this is an answer to a deleted comment. Still ...,NaN,NaN,NaN,NaN,I -,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,breitbart,9638510923,6150719826,refering to RINOs,NaN,E +,NaN,E -,E -,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
203,breitbart,9638510923,6150839685,hard to infer any stance,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
204,breitbart,9638510923,6150849854,Juneteenth and Kwanzaa suggest a negative stan...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
205,breitbart,9638510923,6150948423,NaN,NaN,E +,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
206,breitbart,9638510923,6150949769,NaN,NaN,I -,NaN,NaN,I -,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [11]:
results_df_second = pd.read_excel(f"{path}/insert_data_annotator_2.xlsx")
results_df_second

,provider_name,article_id,comment_id,Notes,Barack Obama,Donald Trump,Joe Biden,(democrat | liberal),(republican | conservative),Progressives,...,Supreme court,Free trade | globalization,Traditional family values,Palestine,Mexico / mexicans,EU | Europe | European country,Billionaires,Big pharma,Big tech is too powerful,COMPLETED
0,motherjones,5392511582,3059057400,America in decline is difficult to rate. What ...,NaN,NaN,NaN,NaN,E -,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1,motherjones,5392511582,3059084937,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2,motherjones,5392511582,3059098451,sarcasm? Or am I missing something?,NaN,I -,NaN,I -,I -,I +,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3,motherjones,5392511582,3059108161,NaN,NaN,NaN,NaN,I -,I +,I -,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4,motherjones,5392511582,3059121940,Not really universal healthcare or unenpl bene...,NaN,NaN,NaN,NaN,E -,I +,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,breitbart,8263361810,5137572709,Compare to Saddam,NaN,NaN,I -,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
203,breitbart,8263361810,5137618011,NaN,NaN,NaN,NaN,E -,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
204,breitbart,8263361810,5137666008,NaN,NaN,NaN,E -,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
205,breitbart,8263361810,5137736031,Seems + election?,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
206,breitbart,8263361810,5137793129,Context gives trump and election fraud,NaN,I +,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

In [ ]:
master_assignements_df = pd.read_csv("comment_assignments_master.csv")
master_assignements_df

,article_id,comment_id,user_id,provider,provider_name,annotator_pair,annotator_1,annotator_2
0,5392511582,3068652864,617031,4,motherjones,"(1, 2)",1,2
1,5392511582,3060312757,183440977,4,motherjones,"(1, 2)",1,2
2,5392511582,3059121940,15651552,4,motherjones,"(1, 2)",1,2
3,5392511582,3061231944,235747564,4,motherjones,"(1, 2)",1,2
4,5392511582,3066560379,35998968,4,motherjones,"(1, 2)",1,2
...,...,...,...,...,...,...,...,...
409,6141968269,3517227720,562780,1,breitbart,"(3, 4)",3,4
410,6141968269,3517128881,132203087,1,breitbart,"(3, 4)",3,4
411,6141968269,3517323856,146099024,1,breitbart,"(3, 4)",3,4
412,6141968269,3517179837,60911793,1,breitbart,"(3, 4)",3,4
413,6141968269,3524535857,6386548,1,breitbart,"(3, 4)",3,4

In [41]:
target_df = master_assignements_df[(master_assignements_df['annotator_1'] == 1) & (master_assignements_df['annotator_2'] == 2)]
target_df.head(50)

,article_id,comment_id,user_id,provider,provider_name,annotator_pair,annotator_1,annotator_2
0,5392511582,3068652864,617031,4,motherjones,"(1, 2)",1,2
1,5392511582,3060312757,183440977,4,motherjones,"(1, 2)",1,2
2,5392511582,3059121940,15651552,4,motherjones,"(1, 2)",1,2
3,5392511582,3061231944,235747564,4,motherjones,"(1, 2)",1,2
4,5392511582,3066560379,35998968,4,motherjones,"(1, 2)",1,2
5,5392511582,3059802377,166680896,4,motherjones,"(1, 2)",1,2
6,5392511582,3059057400,22343219,4,motherjones,"(1, 2)",1,2
7,5392511582,3059098451,4811341,4,motherjones,"(1, 2)",1,2
8,5392511582,3067003059,23375444,4,motherjones,"(1, 2)",1,2
9,5392511582,3061329823,42040275,4,motherjones,"(1, 2)",1,2
10,5392511582,3059722173,48417445,4,motherjones,"(1, 2)",1,2
11,5392511582,3061720556,180994211,4,motherjones,"(1, 2)",1,2
12,5392511582,3063951088,117062440,4,motherjones,"(1, 2)",1,2
13,5392511582,3059501437,94952559,4,motherjones,"(1, 2)",1,2
14,5392511582,3059381051,212953623,4,motherjones,"(1, 2)",1,2
15,5392511582,3059200329,139048533,4,motherjones,"(1, 2)",1,2
16,5392511582,3059084937,33478389,4,motherjones,"(1, 2)",1,2
17,5392511582,3059553006,59412330,4,motherjones,"(1, 2)",1,2
18,5392511582,3060224144,180382070,4,motherjones,"(1, 2)",1,2
19,5392511582,3059108161,206140594,4,motherjones,"(1, 2)",1,2
20,5392511582,3059335055,7274652,4,motherjones,"(1, 2)",1,2
21,5392511582,3060324655,24365846,4,motherjones,"(1, 2)",1,2
22,5392511582,3062057443,9232880,4,motherjones,"(1, 2)",1,2
138,8283465962,5158514913,121615427,2,thehill,"(1, 2)",1,2
139,8283465962,5158200304,40703545,2,thehill,"(1, 2)",1,2
140,8283465962,5158404410,45432461,2,thehill,"(1, 2)",1,2
141,8283465962,5158382275,258278136,2,thehill,"(1, 2)",1,2
142,8283465962,5158234811,328600635,2,thehill,"(1, 2)",1,2
143,8283465962,5158219658,332983253,2,thehill,"(1, 2)",1,2
144,8283465962,5158298788,322966392,2,thehill,"(1, 2)",1,2
145,8283465962,5158167178,88385834,2,thehill,"(1, 2)",1,2
146,8283465962,5158228604,44179848,2,thehill,"(1, 2)",1,2
147,8283465962,5158291676,333016602,2,thehill,"(1, 2)",1,2
148,8283465962,5158839524,274975048,2,thehill,"(1, 2)",1,2
149,8283465962,5158318467,61314546,2,thehill,"(1, 2)",1,2
150,8283465962,5159087335,70621119,2,thehill,"(1, 2)",1,2
151,8283465962,5158350383,46450637,2,thehill,"(1, 2)",1,2
152,8283465962,5158180257,359145295,2,thehill,"(1, 2)",1,2
153,8283465962,5158691203,44714006,2,thehill,"(1, 2)",1,2
154,8283465962,5158407709,343497793,2,thehill,"(1, 2)",1,2
155,8283465962,5158604545,173795794,2,thehill,"(1, 2)",1,2
156,8283465962,5158544169,89755040,2,thehill,"(1, 2)",1,2
157,8283465962,5158355372,101528374,2,thehill,"(1, 2)",1,2
158,8283465962,5158253251,25063096,2,thehill,"(1, 2)",1,2
159,8283465962,5158584491,358483302,2,thehill,"(1, 2)",1,2
160,8283465962,5158363394,188322636,2,thehill,"(1, 2)",1,2
276,5288423876,2991668633,173444454,1,breitbart,"(1, 2)",1,2
277,5288423876,2991838129,59200109,1,breitbart,"(1, 2)",1,2
278,5288423876,2991428432,181529398,1,breitbart,"(1, 2)",1,2
279,5288423876,2992371038,60088176,1,breitbart,"(1, 2)",1,2

In [21]:
target_comment_id = 3068652864

In [35]:
first_row = results_df_first[results_df_first["comment_id"] == target_comment_id]
first_row

,provider_name,article_id,comment_id,Notes,Barack Obama,Donald Trump,Joe Biden,(democrat | liberal),(republican | conservative),Progressives,...,Supreme court,Free trade | globalization,Traditional family values,Palestine,Mexico / mexicans,EU | Europe | European country,Billionaires,Big pharma,Big tech is too powerful,COMPLETED
22,motherjones,5392511582,3068652864,against regan; when they say the wealth is not...,NaN,NaN,NaN,NaN,E -,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [29]:
second_row = results_df_second[results_df_second["comment_id"] == target_comment_id]
second_row

,provider_name,article_id,comment_id,Notes,Barack Obama,Donald Trump,Joe Biden,(democrat | liberal),(republican | conservative),Progressives,...,Supreme court,Free trade | globalization,Traditional family values,Palestine,Mexico / mexicans,EU | Europe | European country,Billionaires,Big pharma,Big tech is too powerful,COMPLETED
22,motherjones,5392511582,3068652864,NaN,NaN,NaN,NaN,I +,E -,I +,...,NaN,NaN,NaN,NaN,NaN,NaN,E -,NaN,NaN,True

In [27]:
first_row != second_row

,provider_name,article_id,comment_id,Notes,Barack Obama,Donald Trump,Joe Biden,(democrat | liberal),(republican | conservative),Progressives,...,Supreme court,Free trade | globalization,Traditional family values,Palestine,Mexico / mexicans,EU | Europe | European country,Billionaires,Big pharma,Big tech is too powerful,COMPLETED
22,False,False,False,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,False

In [42]:
# filter not NaN 
# then compare
first_row.eq(second_row) | (first_row.isna() & second_row.isna())

,provider_name,article_id,comment_id,Notes,Barack Obama,Donald Trump,Joe Biden,(democrat | liberal),(republican | conservative),Progressives,...,Supreme court,Free trade | globalization,Traditional family values,Palestine,Mexico / mexicans,EU | Europe | European country,Billionaires,Big pharma,Big tech is too powerful,COMPLETED
22,True,True,True,False,True,True,True,False,True,False,...,True,True,True,True,True,True,False,True,True,True